<div class="container">
	<!--コースの一覧表示-->
	<div class="content">
		<h2 class="header"><i class="fa fa-superpowers" aria-hidden="true"></i> Course
			<!--<button id="all" class="course-order-button">all</button>-->
			<!--<button id="school" class="course-order-button">school</button>-->
			<!--<button id="app" class="course-order-button">app</button>-->
			<!--<button id="web" class="course-order-button">web</button>-->
			<!--<button id="game" class="course-order-button">game</button>-->
			<!--<button id="coding" class="course-order-button">coding</button>-->
			<!--<button id="creative" class="course-order-button">creative</button>-->
			<!--<button id="design" class="course-order-button">design</button>-->
		</h2>
		<% @courses.each do |course| %>
		<div class="img-box open-course-modal-button <% course.course_types.each do |type| %><%= type.name %><% end %>">
			<div id="course-id" value="<%= course.id %>"></div>
			<img id="course-img" class="circle-icon" src="<%= course.img_url %>">
			<h3 id="course-name" class="img-text course"><%= course.name %></h3>
			<div class="img-info"></div>
		</div>
		<% end %>
	</div>
	<!--メンターの一覧表示-->
	<div class="content">
		<h2 class="header"><i class="fa fa-address-book-o" aria-hidden="true"></i> Mentor
			<!--<button class="open-add-mentor-modal-button open-modal-button">add mentor <i class="fa fa-plus-circle" aria-hidden="true"></i></button>-->
			<!--<button class="open-search-mentor-modal-button open-modal-button">search mentor <i class="fa fa-search" aria-hidden="true"></i></button>-->
		</h2>
		<% @mentors.each do |mentor| %>
		<div class="img-box open-mentor-modal-button">
			<div class="mentor-id" value="<%= mentor.id %>"></div>
			<img class="mentor-img circle-icon" src="<%= mentor.img_url %>">
			<h3 class="mentor-name img-text"><%= mentor.name %></h3>
			<div class="img-info"></div>
		</div>
		<% end %>
	</div>
	<!--キャンプの一覧表示-->
	<div class="content">
		<h2 class="header"><i class="fa fa-users" aria-hidden="true"></i> Camp
			<button class="open-add-camp-modal-button open-modal-button">add camp <i class="fa fa-plus-circle" aria-hidden="true"></i></button>
			<!--<button class="open-search-camp-modal-button open-modal-button">search camp <i class="fa fa-search" aria-hidden="true"></i></button>-->
		</h2>
		<% @camps.each do |camp| %>
		<div class="img-box open-camp-modal-button">
			<div id="camp-id" value="<%= camp.id %>"></div>
			<img id="camp-img" class="circle-icon" src="<%= camp.img_url %>">
			<h3  id="camp-name" class="img-text"><%= camp.name %></h3>
			<div class="img-info"></div>
			<div id="camp-date" value="<%= camp.start_date.strftime("%Y年 %m月 %d日") %> ~ <%= camp.end_date.strftime("%Y年 %m月 %d日") %>"></div>
		</div>
		<% end %>
	</div>
	<!--キャンパスの一覧表示-->
	<div class="content">
		<h2 class="header"><i class="fa fa-university" aria-hidden="true"></i> Campus
			<!--<button class="open-add-mentor-modal-button open-modal-button">add campus <i class="fa fa-plus-circle" aria-hidden="true"></i></button>-->
			<!--<button class="open-search-mentor-modal-button open-modal-button">search campus <i class="fa fa-search" aria-hidden="true"></i></button>-->
		</h2>
		<% @campus.each do |campus| %>
		<div class="img-box open-campus-modal-button">
			<div id="campus-id" value="<%= campus.id %>"></div>
			<img id="campus-img" class="circle-icon" src="<%= campus.img_url %>">
			<h3  id="campus-name" class="img-text"><%= campus.common_name %></h3>
			<div class="img-info"></div>
		</div>
		<% end %>
	</div>
	
</div>

<!--コースは何も選択しない-->
<%=  erb :_course %> 

<!--メンターはコースを選択する OK-->
<%=  erb :_mentor %> 

<!--キャンプはメンターとコースを選択する-->
<%=  erb :_camp %> 
<%=  erb :_choose_mentor %>
<%=  erb :_choose_course %>

<!--キャンパスはキャンプを選択する-->
<%=  erb :_campus %>
<%=  erb :_choose_camp %>

<%=  erb :_new_mentor %> 
<%=  erb :_new_camp %> 
<%=  erb :_edit_campus_location %> 
