<div class="container">
	<h1>タイトル</h1>
	<!--キャンプの一覧表示-->
	<div class="content">
		<h2 class="header">Camp</h2>
		<form action="/camps/create" method="post">
			<input type="text" name="name">
			<input type="submit" value="新規追加">
		</form>
		<% @camps.each do |camp| %>
		<div class="box">
			<h3><%= camp.name %></h3>
		</div>
		<% end %>
	</div>
	<!--コースの一覧表示-->
	<div class="content">
		<h2 class="header">Course</h2>
		<% @courses.each do |course| %>
		<div class="img-box">
			<img class="circle-icon" src="<%= course.img_url %>">
			<h3 class="img-text course"><%= course.name %></h3>
			<div class="img-info"></div>
		</div>
		<% end %>
	</div>
	<!--メンターの一覧表示-->
	<div class="content">
		<h2 class="header">Mentor<button id="mentor-modal-button" class="open-modal-button">add mentor</button></h2>
		
		<% @mentors.each do |mentor| %>
		<div class="img-box">
			<img class="circle-icon" src="<%= mentor.img_url %>">
			<h3 class="img-text"><%= mentor.name %></h3>
			<div class="img-info"></div>
		</div>
		<% end %>
	</div>
	
</div>
<%=  erb :_new_mentor %> 

