<div class="container">
    <div class="content base-modal">
        <div id="map"></div>
    </div>
</div>

<script>
    function initMap() {
        // Create a map object and specify the DOM element for display.
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 35.658587, lng: 139.745425},
          zoom: 12,
          mapTypeControl: false,
          scaleControl: false,
          streetViewControl: false,
          styles: [
          {
            "elementType": "geometry",
            "stylers": [
              {
                "color": "#f5f5f5"
              }
            ]
          },
          {
            "elementType": "labels",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          },
          {
            "elementType": "labels.icon",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          },
          {
            "elementType": "labels.text.fill",
            "stylers": [
              {
                "color": "#616161"
              }
            ]
          },
          {
            "elementType": "labels.text.stroke",
            "stylers": [
              {
                "color": "#f5f5f5"
              }
            ]
          },
          {
            "featureType": "administrative",
            "elementType": "geometry",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          },
          {
            "featureType": "administrative.land_parcel",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          },
          {
            "featureType": "administrative.land_parcel",
            "elementType": "labels.text.fill",
            "stylers": [
              {
                "color": "#bdbdbd"
              }
            ]
          },
          {
            "featureType": "administrative.neighborhood",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          },
          {
            "featureType": "poi",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          },
          {
            "featureType": "poi",
            "elementType": "geometry",
            "stylers": [
              {
                "color": "#eeeeee"
              }
            ]
          },
          {
            "featureType": "poi",
            "elementType": "labels.text.fill",
            "stylers": [
              {
                "color": "#757575"
              }
            ]
          },
          {
            "featureType": "poi.park",
            "elementType": "geometry",
            "stylers": [
              {
                "color": "#e5e5e5"
              }
            ]
          },
          {
            "featureType": "poi.park",
            "elementType": "labels.text.fill",
            "stylers": [
              {
                "color": "#9e9e9e"
              }
            ]
          },
          {
            "featureType": "road",
            "elementType": "geometry",
            "stylers": [
              {
                "color": "#ffffff"
              }
            ]
          },
          {
            "featureType": "road",
            "elementType": "labels.icon",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          },
          {
            "featureType": "road.arterial",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          },
          {
            "featureType": "road.arterial",
            "elementType": "labels.text.fill",
            "stylers": [
              {
                "color": "#757575"
              }
            ]
          },
          {
            "featureType": "road.highway",
            "elementType": "geometry",
            "stylers": [
              {
                "color": "#dadada"
              }
            ]
          },
          {
            "featureType": "road.highway",
            "elementType": "labels",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          },
          {
            "featureType": "road.highway",
            "elementType": "labels.text.fill",
            "stylers": [
              {
                "color": "#616161"
              }
            ]
          },
          {
            "featureType": "road.local",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          },
          {
            "featureType": "road.local",
            "elementType": "labels.text.fill",
            "stylers": [
              {
                "color": "#9e9e9e"
              }
            ]
          },
          {
            "featureType": "transit",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          },
          {
            "featureType": "transit.line",
            "elementType": "geometry",
            "stylers": [
              {
                "color": "#e5e5e5"
              }
            ]
          },
          {
            "featureType": "transit.station",
            "elementType": "geometry",
            "stylers": [
              {
                "color": "#eeeeee"
              }
            ]
          },
          {
            "featureType": "water",
            "elementType": "geometry",
            "stylers": [
              {
                "color": "#c9c9c9"
              }
            ]
          },
          {
            "featureType": "water",
            "elementType": "labels.text.fill",
            "stylers": [
              {
                "color": "#9e9e9e"
              }
            ]
          }
        ]
        });
        google.maps.event.addDomListener(window, "resize", function() {
            var center = map.getCenter();
            google.maps.event.trigger(map, "resize");
            map.setCenter(center);
        });
        <% @campus.each do |campus| %>
            var contentString<%= campus.id %> = 
                '<div>' + 
                '<h3 class="campus-name"><%= campus.common_name %></h3>' + 
                '<img class="campus-img" src="<%= campus.img_url %>">' + 
                <% campus.camps.each do |camp| %>
                '<div class="campus-camp"><%= camp.name %></div>' +
                <% end %>
                '</div>';
            var infowindow<%= campus.id %> = new google.maps.InfoWindow({
                  content: contentString<%= campus.id %>
                });
            var campusMarker<%= campus.id %> = new google.maps.Marker({
                position: {lat: <%= campus.lat %>, lng: <%= campus.lng %>},
                map: map,
                icon: {url: '/assets/images/pin/campus_black.png',scaledSize: new google.maps.Size(45, 45)},
                title: '<%= campus.common_name %>',
            });
            
            <% preview_data = {} %>
            <% preview_data[campus.id] = [] %>
            <% campus.camps.each do |camp| %>
                <% preview_data[campus.id] += camp.mentors %>
            <% end %>
            
            <% preview_data.each do |key,mentors| %>
                <% mentors.uniq.each_with_index do |mentor,index| %>
                    var mentorMarker<%= mentor.id %> = new google.maps.Marker({
                        position: {
                            lat: <%= campus.lat + 0.01 * Math.sin(-1 + 2 * index.to_f / mentors.uniq.length.to_f * Math::PI) %>, 
                            lng: <%= campus.lng + 0.01 * Math.cos(-1 + 2 * index.to_f / mentors.uniq.length.to_f * Math::PI) %>
                        },
                        map: map,
                        icon: {url: '/assets/images/pin/mentor_red.png',scaledSize: new google.maps.Size(30,30)},
                        title: '<%= mentor.name %>',
                    });
                <% end %>
            <% end %>
            
            campusMarker<%= campus.id %>.addListener('click', function() {
                infowindow<%= campus.id %>.open(map, campusMarker<%= campus.id %>);
            });
        <% end %>
    }
  
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcPPAW-9zF9vB7iq94GjUSoD3zJ-HhkoQ&callback=initMap"
async defer></script>